.about {
  background: #001b28;
  position: relative;
  padding-top: 200px;
  // display: none;
  .container {
    display: flex;
    flex-direction: column;
    gap: 200px;
  }
  &__top {
    display: flex;
    gap: 56px;
  }
  &__descr {
    width: 430px;
    &-title {
      font-weight: 800;
      font-size: 36px;
      line-height: 44px;
      position: relative;
      margin-bottom: 30px;
      &::after {
        position: absolute;
        content: "";
        width: 165px;
        height: 1px;
        background: #ff4927;
        left: 0;
        bottom: -12px;
      }
    }
    &-text {
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: rgba(255, 255, 255, 0.8);
      margin-bottom: 20px;
    }
    &-link {
      display: inline-block;
      text-align: center;
      font-weight: 800;
      font-size: 20px;
      line-height: 24px;
      color: #ffffff;
      width: 340px;
      background: #ff4927;
      padding: 18px 0;
      border-radius: 10px;
      margin-top: 15px;
      transition: 0.3s;
      &:hover {
        box-shadow: 0px 4px 20px 4px rgba(237, 51, 17, 0.4);
      }
    }
  }
  &__photos {
    display: flex;
    &-column {
      max-width: 318px;
      width: 100%;
    }
  }
  &__photo {
    width: 100%;
    opacity: 0.6;
    transition: 0.3s;
    position: relative;
    &:hover {
      z-index: 5;
      opacity: 1;
    }
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  .photos-column_1 {
    .about__photo {
      &:first-child {
        height: 360px;
        &:hover {
          transform: scale(1.1) translate(5%, 5%);
        }
      }
      &:nth-child(2) {
        height: 315px;
        &:hover {
          transform: scale(1.1) translate(5%, -5%);
        }
      }
    }
  }
  .photos-column_2 {
    .about__photo {
      height: 100%;
      &:hover {
        z-index: 5;
        opacity: 1;
        transform: scale(1.1);
      }
    }
  }
  .photos-column_3 {
    .about__photo {
      &:first-child {
        height: 247px;
        &:hover {
          transform: scale(1.1) translate(-5%, 5%);
        }
      }
      &:nth-child(2) {
        height: 427px;
        &:hover {
          transform: scale(1.1) translate(-5%, -5%);
        }
      }
    }
  }
  &__bottom {
    display: flex;
    gap: 87px;
    &-descr {
      padding-top: 74px;
      max-width: 953px;
      width: 100%;
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      color: rgba(255, 255, 255, 0.8);
      p {
        margin-bottom: 20px;
      }
    }
    &-img {
      width: 400px;
      height: 370px;
      position: relative;
      z-index: 1;
      flex-shrink: 0;
      img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
      &::before {
        position: absolute;
        content: "";
        width: 400px;
        height: 370px;
        background: #ff4927;
        z-index: -1;
        left: -67px;
        bottom: -63px;
      }
      &::after {
        position: absolute;
        content: "";
        width: 400px;
        height: 370px;
        left: -32px;
        bottom: -37px;
        border: 1px solid #ffffff;
      }
    }
  }
  &.about-page {
    padding-top: 105px;
    @media (max-width: 744px) {
      .about__photos {
        .photos-column_1 {
          .about__photo:first-child {
            height: 265px;
          }
          .about__photo:nth-child(2) {
            height: 244px;
          }
        }
        .photos-column_2 {
          .about__photo {
            height: 510px;
          }
        }
        .photos-column_3 {
          .about__photo:first-child {
            height: 213px;
          }
          .about__photo:nth-child(2) {
            height: 296px;
          }
        }
      }
    }
    @media (max-width: 500px) {
      .about__photo {
        display: block !important;
        opacity: 0.6 !important;
        &:hover {
          opacity: 1 !important;
        }
      }
      .about__photos-column {
        display: block !important;
      }
      .about__photo:first-child:hover {
        transform: scale(1.1) translate(5%, 5%) !important;
        opacity: 1 !important;
      }
    }
    .container {
      @media (max-width: 1100px) {
        gap: 100px;
      }
    }
    .about__top {
      @media (max-width: 1300px) {
        gap: 30px;
      }
    }
    .about__descr {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media (max-width: 1103px) {
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
      }
      @media (max-width: 975px) {
        &-title {
          position: absolute;
          top: 30px;
        }
      }
    }
    .main-targets {
      .container {
        display: flex;
        flex-direction: row;
        gap: 136px;
        position: relative;
        @media (max-width: 1300px) {
          gap: 30px;
        }
        @media (max-width: 1100px) {
          flex-direction: column;
          align-items: center;
          padding-top: 56px;
        }
        @media (max-width: 500px) {
          gap: 30px;
        }
      }
      &__img {
        width: 354px;
        height: 324px;
        flex-shrink: 0;
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
      }
      &__title {
        font-weight: 800;
        font-size: 36px;
        line-height: 26px;
        margin-bottom: 30px;
        position: relative;
        top: 0;
        left: 0;
        @media (max-width: 1100px) {
          position: absolute;
          top: 0;
          left: 0;
        }
        @media (max-width: 979px) {
          font-weight: 800;
          font-size: 26px;
          line-height: 32px;
          margin-bottom: 33px;
        }
        &::after {
          position: absolute;
          content: "";
          width: 430px;
          height: 1px;
          background: #ff4927;
          left: 0;
          bottom: -12px;
          @media (max-width: 979px) {
            width: 320px;
          }
        }
      }
      &__descr {
        // position: relative;
      }
      &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: rgba(255, 255, 255, 0.8);
        @media (max-width: 1103px) {
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
        }
        @media (max-width: 500px) {
          font-weight: 400;
          font-size: 14px;
          line-height: 24px;
        }
        p {
          margin-bottom: 20px;
        }
      }
    }
  }
}
.about.media {
  @media (max-width: 1184px) {
    .about__bottom-descr {
      padding-top: 40px;
    }
  }
  @media (max-width: 1103px) {
    .about__bottom-descr {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
    }
  }
  @media (max-width: 898px) {
    .about__bottom-descr {
      padding-top: 0;
    }
  }
  @media (max-width: 871px) {
    .about__bottom {
      flex-direction: column-reverse;
      align-items: center;
    }
    .about__bottom-img {
      margin-left: 67px;
    }
  }
  @media (max-width: 975px) {
    padding-top: 100px;
    .container {
      gap: 100px;
    }
    .about__top {
      flex-direction: column-reverse;
    }
    .about__descr {
      width: 100%;
    }
    .about__descr-link {
      display: block;
      margin: 0 auto;
      margin-top: 15px;
    }
    .about__descr-title {
      font-weight: 800;
      font-size: 26px;
      line-height: 32px;
      margin-bottom: 33px;
      &::after {
        width: 90px;
      }
    }
  }
  @media (max-width: 500px) {
    .about__photos-column {
      display: none;
      &:first-child {
        display: block;
        max-width: 100%;
      }
    }
    .about__photo {
      display: none;
      &:first-child {
        display: block;
        opacity: 1;
        &:hover {
          transform: scale(1) translate(0%, 0%);
        }
      }
    }
    .about__descr-text {
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      &:nth-child(3) {
        margin-bottom: 30px;
      }
    }
    .about__descr-link {
      width: 100%;
    }
    .about__bottom-img {
      max-width: 328px;
      height: 303px;
      margin-left: 55px;
      &::before {
        width: 323px;
        height: 314px;
        top: 40px;
        left: -55px;
      }
      &::after {
        width: 321px;
        height: 309px;
        top: 24px;
        left: -26px;
      }
    }
  }
  @media (max-width: 412px) {
    .about__bottom-img {
      max-width: 300px;
      height: 280px;
      &::before {
        max-width: 300px;
        width: 100%;
        height: 280px;
      }
      &::after {
        max-width: 300px;
        width: 100%;
        height: 280px;
      }
    }
  }
  @media (max-width: 385px){
    .about__bottom-img {
      max-width: 280px!important;
      width: 100%!important;
      height: 265px;
      margin-left: 25px;
      &::before {
        max-width: 280px;
        width: 100%;
        height: 265px;
        left: -25px;
        top: 25px;
      }
      &::after {
        max-width: 280px;
        width: 100%;
        height: 265px;
        left: -10px;
        top: 10px;
      }
    }
  }
}
