.footer {
  position: relative;
  background: #001b28;
  .container {
    display: flex;
    justify-content: space-between;
  }
  .contacts {
    margin-top: 386px;
    display: flex;
    flex-direction: column;
    &__title {
      font-weight: 800;
      font-size: 36px;
      line-height: 26px;
      margin-bottom: 40px;
    }
    &__phone {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #ffffff;
      margin-bottom: 20px;
      position: relative;
      padding-left: 28px;
      &::before {
        position: absolute;
        content: "";
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        background-image: url(../../img/footer/phone.svg);
      }
    }
    &__mail {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #ffffff;
      margin-bottom: 20px;
      position: relative;
      padding-left: 28px;
      &::before {
        position: absolute;
        content: "";
        left: 0;
        bottom: 4px;
        width: 18px;
        height: 12px;
        background-image: url(../../img/footer/mail.svg);
      }
    }
    &__address {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      position: relative;
      padding-left: 28px;
      &::before {
        position: absolute;
        content: "";
        left: 0;
        bottom: -6px;
        transform: translateY(-50%);
        width: 16px;
        height: 19px;
        background-image: url(../../img/footer/address.svg);
      }
    }
  }
  .map {
    position: relative;
    &__dot {
      position: absolute;
      width: 10px;
      height: 10px;
      background: #ff4927;
      border-radius: 100%;
    }
  }
}
